
:root{
    /* DEFOLT */
    --main-color: #212121; 
    --main-bg-color: #F5F5F5;
    --bg-color-team: #F5F4FA;
    --first-color: #000000;
    --second-color: #2196F3;
    --third-color: #fff;
    --little-color: #757575;
    --just-color: #2F303A;
    --main-button-background: #1B8CEB;
    --portfolio-border: #EEEEEE;
    --contacts-footer: rgba(255, 255, 255, 0.6);
    --icons-color: rgba(175, 177, 184, 1);

    --indent: 30px;
    --itens: 3;
}

/* Start Reset/ */
h1,
h2,
h3,
h4,
p {margin: 0;
}
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
img {display: block;
}
/* End reset  */

 /* STYLES */
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.body{
    font-family: 'Roboto',sans-serif;
    color: var(--main-color);
    background: var(--third-color);
    font-size: 14px;
    letter-spacing: 0.03em;
}
img {
    display: block;
    max-width: 100%;
}


/* HEADER */

.container-navi{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-navs{
    display: flex;
    align-items: center;
}
.nav-list{
    display: flex;
    margin-left: 93px;
}

.nav-list :not(:first-child) {
    margin-left: 50px;
}

.contacts-list{
    display: flex;
    align-items: center;
}  

 .contacts-m-t{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 32px;
    padding-top: 32px;
 }

.header-link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}


.contacts{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--first-color);
    text-decoration: none;
    list-style-type: none;
    letter-spacing: 0.02em;
}

.contacts1 {
    margin-left: 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--little-color);
    text-decoration: none;
    list-style-type: none;
    letter-spacing: 0.02em;
}
.contacts:hover,
.contacts1:hover {
    color: var(--second-color);
}
.contacts:focus,
.contacts1:focus {
    color: var(--second-color);
}

.logo-link{ 
    font-family: 'Raleway',sans-serif;
    color: var(--second-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    letter-spacing: 0.03em;
}

.logo-header{
    font-family: 'Raleway',sans-serif;
    color: var(--first-color);
    letter-spacing: 0.03em;
}
/* Иконки хедера */
.header-icon{
    fill: currentColor;
}


.header-navi-border{
    border-bottom: 1px solid var(--portfolio-border);
}

/* .main-section */
.main-section{
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
    background-color:var(--just-color);
    background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
    url(../images/main-section.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
}
.main-title{
    display: block;
    margin: auto;
    padding-bottom: 30px;
    width: 696px;
    text-align: center;
    color: var(--third-color);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
}
 /* Кнопка Замовити послугу  */
 .main-button{
    display: block;
    margin: 0 auto;
    color: var(--third-color);
    background-color: var(--second-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    padding: 10px 32px;
    min-width: 216px;
    min-height: 50px;
}

.main-button:hover{
    background-color: var(--main-button-background);
}

.main-button:focus{
    background-color:var(--main-button-background);
}

/*особливості special */
.list-special{
    display: flex;
    gap: 30px;
}

.second-title{
    padding-top: 10px;
    width: 270px;
    color: var(--main-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.text-1{
    margin-top: 10px;
    color:var(--little-color);
    width: 270px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
.special-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background-color: var(--bg-color-team);
}
/* чим займаємося */
.list-about{
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent);
}
.title-about{
    text-align: center;
    margin-bottom: 50px;
}
.section-about{
    padding-top: 0px;
}
/* команда */

.section-team{
    background-color: var(--bg-color-team);
}

.title-team{
    text-align: center;
    margin-bottom: 50px;
}
.list-team{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.team-card{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.comand-h-p{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--third-color);
}
.comand{
    margin-bottom: 10px;
    text-align: center;
    color: var(--main-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.comand-text{
    text-align: center;
    color: var(--little-color) ;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 16px;
}
/* Иконки Команды */
.socials{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.socials-links{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--third-color);
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.socials-icon {
    fill: var(--icons-color);
}

.socials-links:focus,
.socials-links:hover{
    background-color: var(--second-color);
}

.socials-links:focus .socials-icon,
.socials-links:hover .socials-icon{
    fill: var(--third-color);
}
/* Наші клієнти */
.clients{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.client-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    background-color: var(--third-color);  
    border: 1px solid var(--icons-color); 
    border-radius: 4px;
    cursor: pointer;
}

.icon-client{
    fill: var(--icons-color);
}
.client-link:hover,
.client-link:focus{
    border-color: var(--second-color);
}

.client-link:focus .icon-client,
.client-link:hover .icon-client{
    fill: var(--second-color);
}

/* Portfolio */
.portfolio{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    flex-basis: calc(100% / 3 - 30px);
}

.portfolio-card:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.port-text{
    padding: 20px 24px;
    border: 1px solid var(--portfolio-border);
    border-top: none;
}
.third-title{
    color: var(--main-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.text-2{
    color:var(--little-color);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

.list{
    list-style-type: none;
    text-decoration: none;
}

.title{
    color: var(--main-color);
    font-family: 'Roboto',sans-serif;
    font-size: 36px;
    line-height: 1.16;
}

.visually-hidden{
    display: none;
}

/* Кнопки Портфоліо */
.btn-portfolio{
   display: flex;
   justify-content: center;
   text-align: center;
   margin-bottom: 50px;
}

.btn-item:not(:last-child){
    margin-right: 8px;
}

/* Кнопка Усі */
.button1{
    padding: 6px 25px;
    color: var(--main-color);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.06em;
}
.button1:active{
    color: var(--third-color);
    background-color: var(--main-button-background);
}

.button1:hover,
.button1:focus{
    color: var(--third-color);
    background-color: var(--main-button-background);
    box-shadow: 
    0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Інші кнопки */
.button{
    padding: 6px 22px;
    color: var(--main-color);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.06em;
}

.button:active{
    color: var(--third-color);
    background-color: var(--main-button-background);
}

.button:hover,
.button:focus{
    color: var(--third-color);
    background-color: var(--main-button-background);
    box-shadow:
    0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* FOOTER */
.footer{
    background: var(--just-color);
    text-decoration: none;
    letter-spacing: 0.03em;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-links:not(:last-child){
    margin-bottom: 9px;
}
.footer-links:first-child{
    margin-top: 20px;
}

.footer-link{
    font-family: 'Raleway',sans-serif;
    color: var(--second-color);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    letter-spacing: 0.03em;
}

.logo-footer{
    font-family: 'Raleway',sans-serif;
    color: var(--third-color);
    letter-spacing: 0.03em;
}

.contacts-footer{
    color: var(--contacts-footer);
    font-style: normal;
    text-decoration: none;
    letter-spacing: 0.03em;
}

.address1{
font-style: normal;
letter-spacing: 0.03em;
}

.address{
    color: var(--third-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    letter-spacing: 0.03em;
}
.container-footer{
    display: flex;
}
.left-footer{
    margin-right: 70px;
}
.socials-footer{
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.footer-title{
    padding-top: 10px;
    width: 270px;
    color: var(--third-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
/* иконки футер */

.socials-links-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    border-radius: 50%;
}
.socials-icon-footer{
    fill:var(--third-color);
}

.socials-links-footer:focus,
.socials-links-footer:hover{
    background-color: var(--second-color);
}


